<div class="right-container">

    <div class="right-container-company-frame-div-0" th:each="stock : ${page.stocks}">
        <div class="right-container-company-div">
            <div class="right-container-company-title-container">
                <div th:class="${stock.titleCssStyle}" th:text="${stock.companyName}"></div>
                <div class="right-container-company-add-to-favourite-div">
                    <img src="/images/icons/add-to-favourite.png" class="right-container-company-add-to-favourite-img"/>
                </div>
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right" th:text="${stock.high}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right" th:text="${stock.low}"></td>
                    </tr>
                    <tr>
                        <td class="td-left" th:style="${stock.lastPriceCssStyle}">Last Price</td>
                        <td class="td-right" th:style="${stock.lastPriceCssStyle}" th:text="${stock.lastPrice}"></td>
                    </tr>
                    <tr>
                        <td class="td-left" th:style="${stock.percentageGainCssStyle}">% Change</td>
                        <td class="td-right" th:style="${stock.percentageGainCssStyle}"
                            th:text="${stock.percentageChange}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right" th:text="${stock.upperCircuit}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right" th:text="${stock.lowerCircuit}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right" th:text="${stock.priceToEarningRatio}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right" th:text="${stock.priceToBookRatio}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div red-to-green-gradient">
                Trading Statistics
            </div>
        </div>
    </div>

</div>