<div class="right-container">
    <div th:replace="~{fragments/common/stock_group_tip_container}"></div>
    <div class="right-container-stock-listing-container">
        <div class="right-container-company-frame-div-0 right-container-company-frame-div-0-1" th:each="stock : ${page.stocks}">
            <div class="right-container-company-div">
                <div th:class="${stock.titleContainerCssStyle}">
                    <div th:class="${stock.titleCssStyle}" th:text="${stock.displayName}" th:title="${stock.toolTip}"></div>
                    <div th:class="${stock.stockMarketChartImageDivCssStyle}">
                        <img src="/images/icons/stock-market-chart.png" class="right-container-company-stock-market-chart-img"/>
                    </div>
                </div>
                <div class="right-container-cap-gainer-company-table-div">
                    <table>
                        <tbody>
                        <tr>
                            <td class="td-left">High</td>
                            <td class="td-right" th:text="${stock.high}"></td>
                        </tr>
                        <tr>
                            <td class="td-left">Low</td>
                            <td class="td-right" th:text="${stock.low}"></td>
                        </tr>
                        <tr>
                            <td class="td-left" th:style="${stock.lastPriceCssStyle}">Last Price</td>
                            <td class="td-right" th:style="${stock.lastPriceCssStyle}" th:text="${stock.lastPrice}"></td>
                        </tr>
                        <tr>
                            <td class="td-left" th:style="${stock.percentageGainCssStyle}">% Gain</td>
                            <td class="td-right" th:style="${stock.percentageGainCssStyle}"
                                th:text="${stock.percentageGain}"></td>
                        </tr>
                        <tr>
                            <td class="td-left">Previous Close</td>
                            <td class="td-right" th:text="${stock.previousClose}"></td>
                        </tr>
                        <tr>
                            <td class="td-left">Variation</td>
                            <td class="td-right" th:text="${stock.variation}"></td>
                        </tr>

                        <tr>
                            <td class="td-left">Upper Circuit</td>
                            <td class="td-right" th:text="${stock.upperCircuit}"></td>
                        </tr>
                        <tr>
                            <td class="td-left">Lower Circuit</td>
                            <td class="td-right" th:text="${stock.lowerCircuit}"></td>
                        </tr>
                        <tr>
                            <td class="td-left">P/E Ratio</td>
                            <td class="td-right" th:text="${stock.priceToEarningRatio}"></td>
                        </tr>
                        <tr>
                            <td class="td-left">P/B Ratio</td>
                            <td class="td-right" th:text="${stock.priceToBookRatio}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="right-container-company-trading-stats-div red-to-dark-red">
                    Trading Statistics
                </div>-->
            </div>
        </div>
    </div>
</div>