<div class="right-container">

    <div class="right-container-company-frame-div-0" th:each="stock : ${page.priceShockerStocks}">
        <div class="right-container-company-div">
            <div th:class="${stock.titleCssStyle}" th:text="${stock.companyName}"></div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">Sector</td>
                        <td class="td-right" th:text="${stock.sector}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">Current Price</td>
                        <td class="td-right" th:text="${stock.currentPrice}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">Previous Price</td>
                        <td class="td-right" th:text="${stock.previousPrice}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right" th:text="${stock.percentageChange}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right" th:text="${stock.upperCircuit}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right" th:text="${stock.lowerCircuit}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right" th:text="${stock.priceToEarningRatio}"></td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right" th:text="${stock.priceToBookRatio}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div red-to-dark-red">
                Trading Statistics
            </div>
        </div>
    </div>

</div>