<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>BSE Equity Trade Forecast</display-name>

  <listener>
    <listener-class>rave.code.listeners.ApplicationContextListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/pages/resource-not-found.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/pages/internal-server-error.jsp</location>
  </error-page>

  <servlet>
    <servlet-name>BSEActive100GainerController</servlet-name>
    <servlet-class>rave.code.controller.BSEActive100GainerController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BSEActive100GainerController</servlet-name>
    <url-pattern>/bse/active/gainer/100</url-pattern>
  </servlet-mapping>

</web-app>
