self-taught.iml
self-taught.ipr
self-taught.iws
android-apps/android-apps.iml

razorpay-payment-gateway-web-integration/razorpay-payment-gateway-web-integration.iml

springboot-apps/springboot-apps.iml
springboot-apps/graph-database/springboot-with-neo4j/springboot-with-neo4j.iml
springboot-apps/messaging/springboot-with-activemq/activemq-message-consumer/activemq-message-consumer.iml
springboot-apps/messaging/springboot-with-activemq/activemq-message-producer/activemq-message-producer.iml
springboot-apps/messaging/springboot-with-activemq/springboot-with-activemq.iml
springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-consumer/rabbitmq-message-consumer.iml
springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-producer/rabbitmq-message-producer.iml
springboot-apps/messaging/springboot-with-rabbitmq/springboot-with-rabbitmq.iml
springboot-apps/messaging/springboot-with-kafka/springboot-with-kafka.iml
springboot-apps/no-sql-database/springboot-with-cassandra/springboot-with-cassandra.iml
springboot-apps/no-sql-database/springboot-with-mongodb/springboot-with-mongodb.iml
springboot-apps/no-sql-database/springboot-with-mongodb/springboot-with-couchbase.iml
springboot-apps/routing/springboot-with-apache-camel/springboot-with-apache-camel.iml
springboot-apps/sql-database/springboot-jpa-with-sqlite/springboot-jpa-with-sqlite.iml
springboot-apps/sql-database/springboot-jpa-with-sqlite/spring_boot.db
springboot-apps/sql-database/springboot-jpa-with-apache-derby/databasechangelog.csv
springboot-apps/sql-database/springboot-jpa-with-apache-derby/derby.log
springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.log
springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.properties
springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.script
springboot-apps/sql-database/springboot-jpa-with-h2/spring_boot.mv.db
springboot-apps/sql-database/springboot-jpa-with-h2/spring_boot.trace.db


stock-market/stock-market.iml
stock-market/stock-market.ipr
stock-market/stock-market.iws
stock-market/sub-systems/sub-systems.ipr
stock-market/sub-systems/sub-systems.iws
stock-market/sub-systems/sub-systems.iml
stock-market/sub-systems/repository-system/repository-system.iml
stock-market/sub-systems/table-generation-system/table-generation-system.iml
stock-market/sub-systems/quartz-scheduler-system/quartz-scheduler-system.iml
stock-market/sub-systems/data-model-system/data-model-system.iml
stock-market/sub-systems/data-parser-system/data-parser-system.iml
stock-market/sub-systems/ai-system/ai-system.iml
stock-market/sub-systems/email-system/email-system.iml
stock-market/sub-systems/technical-analysis-system/technical-analysis-system.iml
stock-market/web-systems/web-systems.iml
utilities/utilities.iml

.gradle/
.idea/
razorpay-payment-gateway-web-integration/.mvn/
razorpay-payment-gateway-web-integration/target/
razorpay-payment-gateway-web-integration/tmp/
utilities/target/

springboot-apps/target
springboot-apps/graph-database/springboot-with-neo4j/target
springboot-apps/messaging/springboot-with-kafka/target
springboot-apps/messaging/springboot-with-rabbitmq/target
springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-consumer/target
springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-producer/target
springboot-apps/messaging/springboot-with-activemq/target
springboot-apps/messaging/springboot-with-activemq/activemq-message-producer/target
springboot-apps/messaging/springboot-with-activemq/activemq-message-consumer/target
springboot-apps/no-sql-database/springboot-with-cassandra/target
springboot-apps/no-sql-database/springboot-with-mongodb/target
springboot-apps/no-sql-database/springboot-with-couchbase/target
springboot-apps/routing/springboot-with-apache-camel/target
springboot-apps/sql-database/springboot-jpa-with-apache-derby/target
springboot-apps/sql-database/springboot-jpa-with-apache-derby/spring_boot
springboot-apps/sql-database/springboot-jpa-with-db2/target
springboot-apps/sql-database/springboot-jpa-with-mssql/target
springboot-apps/sql-database/springboot-jpa-with-mysql/target
springboot-apps/sql-database/springboot-jpa-with-oracle/target
springboot-apps/sql-database/springboot-jpa-with-sqlite/target
springboot-apps/sql-database/springboot-jpa-with-sybase/target
springboot-apps/sql-database/springboot-jpa-with-postgres/target
springboot-apps/sql-database/springboot-jpa-with-hsqldb/target
springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.tmp
springboot-apps/sql-database/springboot-jpa-with-h2/target
springboot-apps/sql-database/springboot-jpa-with-mariadb/target
springboot-apps/sql-database/springboot-jpa-with-cubrid/target
springboot-apps/payment-gateways/razorpay/target
springboot-apps/payment-gateways/paytm/target


stock-market/sub-systems/ai-system/target/
stock-market/sub-systems/repository-system/target/
stock-market/sub-systems/table-generation-system/target/
stock-market/sub-systems/email-system/target/
stock-market/sub-systems/quartz-scheduler-system/target/
stock-market/sub-systems/data-model-system/target/
stock-market/sub-systems/data-parser-system/target/
stock-market/sub-systems/technical-analysis-system/target/


