self-taught.iml
self-taught.ipr
self-taught.iws
android-apps/android-apps.iml
razorpay-payment-gateway-web-integration/razorpay-payment-gateway-web-integration.iml

springboot-universe/springboot-universe.iml
springboot-universe/graph-database/springboot-with-neo4j/springboot-with-neo4j.iml
springboot-universe/messaging/springboot-with-activemq/activemq-message-consumer/activemq-message-consumer.iml
springboot-universe/messaging/springboot-with-activemq/activemq-message-producer/activemq-message-producer.iml
springboot-universe/messaging/springboot-with-activemq/springboot-with-activemq.iml
springboot-universe/messaging/springboot-with-rabbitmq/rabbitmq-message-consumer/rabbitmq-message-consumer.iml
springboot-universe/messaging/springboot-with-rabbitmq/rabbitmq-message-producer/rabbitmq-message-producer.iml
springboot-universe/messaging/springboot-with-rabbitmq/springboot-with-rabbitmq.iml
springboot-universe/messaging/springboot-with-kafka/springboot-with-kafka.iml
springboot-universe/no-sql-database/springboot-with-cassandra/springboot-with-cassandra.iml
springboot-universe/no-sql-database/springboot-with-mongodb/springboot-with-mongodb.iml
springboot-universe/no-sql-database/springboot-with-mongodb/springboot-with-couchbase.iml
springboot-universe/routing/springboot-with-apache-camel/springboot-with-apache-camel.iml
springboot-universe/sql-database/springboot-jpa-with-sqlite/springboot-jpa-with-sqlite.iml
springboot-universe/sql-database/springboot-jpa-with-sqlite/spring_boot.db
springboot-universe/sql-database/springboot-jpa-with-apache-derby/databasechangelog.csv
springboot-universe/sql-database/springboot-jpa-with-apache-derby/derby.log
springboot-universe/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.log
springboot-universe/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.properties
springboot-universe/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.script
springboot-universe/sql-database/springboot-jpa-with-h2/spring_boot.mv.db
springboot-universe/sql-database/springboot-jpa-with-h2/spring_boot.trace.db


stock-market/stock-market.iml
stock-market/stock-market.ipr
stock-market/stock-market.iws
stock-market/sub-systems/sub-systems.iml
stock-market/sub-systems/data-access-system/data-access-system.iml
stock-market/sub-systems/database-table-generation-system/database-table-generation-system.iml
stock-market/sub-systems/quartz-scheduler-system/quartz-scheduler-system.iml
stock-market/sub-systems/source-data-model-system/source-data-model-system.iml
stock-market/sub-systems/source-data-parser-system/source-data-parser-system.iml
stock-market/sub-systems/ai-system/ai-system.iml
stock-market/sub-systems/email-system/email-system.iml
stock-market/web-systems/web-systems.iml
utilities/utilities.iml


.gradle/
.idea/
razorpay-payment-gateway-web-integration/.mvn/
razorpay-payment-gateway-web-integration/target/
razorpay-payment-gateway-web-integration/tmp/
utilities/target/

springboot-universe/target
springboot-universe/graph-database/springboot-with-neo4j/target
springboot-universe/messaging/springboot-with-kafka/target
springboot-universe/messaging/springboot-with-rabbitmq/target
springboot-universe/messaging/springboot-with-rabbitmq/rabbitmq-message-consumer/target
springboot-universe/messaging/springboot-with-rabbitmq/rabbitmq-message-producer/target
springboot-universe/messaging/springboot-with-activemq/target
springboot-universe/messaging/springboot-with-activemq/activemq-message-producer/target
springboot-universe/messaging/springboot-with-activemq/activemq-message-consumer/target
springboot-universe/no-sql-database/springboot-with-cassandra/target
springboot-universe/no-sql-database/springboot-with-mongodb/target
springboot-universe/no-sql-database/springboot-with-couchbase/target
springboot-universe/routing/springboot-with-apache-camel/target
springboot-universe/sql-database/springboot-jpa-with-apache-derby/target
springboot-universe/sql-database/springboot-jpa-with-apache-derby/spring_boot
springboot-universe/sql-database/springboot-jpa-with-db2/target
springboot-universe/sql-database/springboot-jpa-with-mssql/target
springboot-universe/sql-database/springboot-jpa-with-mysql/target
springboot-universe/sql-database/springboot-jpa-with-oracle/target
springboot-universe/sql-database/springboot-jpa-with-sqlite/target
springboot-universe/sql-database/springboot-jpa-with-sybase/target
springboot-universe/sql-database/springboot-jpa-with-postgres/target
springboot-universe/sql-database/springboot-jpa-with-hsqldb/target
springboot-universe/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.tmp
springboot-universe/sql-database/springboot-jpa-with-h2/target


stock-market/sub-systems/ai-system/target/
stock-market/sub-systems/data-access-system/target/
stock-market/sub-systems/database-table-generation-system/target/
stock-market/sub-systems/email-system/target/
stock-market/sub-systems/quartz-scheduler-system/target/
stock-market/sub-systems/source-data-model-system/target/
stock-market/sub-systems/source-data-parser-system/target/






