java.iml
java.ipr
java.iws

.gradle/
.idea/

output-tamil.pdf

razorpay-payment-gateway-web-integration/razorpay-payment-gateway-web-integration.iml

education/springboot-apps/springboot-apps.iml
education/springboot-apps/graph-database/springboot-with-neo4j/springboot-with-neo4j.iml
education/springboot-apps/messaging/springboot-with-activemq/activemq-message-consumer/activemq-message-consumer.iml
education/springboot-apps/messaging/springboot-with-activemq/activemq-message-producer/activemq-message-producer.iml
education/springboot-apps/messaging/springboot-with-activemq/springboot-with-activemq.iml
education/springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-consumer/rabbitmq-message-consumer.iml
education/springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-producer/rabbitmq-message-producer.iml
education/springboot-apps/messaging/springboot-with-rabbitmq/springboot-with-rabbitmq.iml
education/springboot-apps/messaging/springboot-with-kafka/springboot-with-kafka.iml
education/springboot-apps/no-sql-database/springboot-with-cassandra/springboot-with-cassandra.iml
education/springboot-apps/no-sql-database/springboot-with-mongodb/springboot-with-mongodb.iml
education/springboot-apps/no-sql-database/springboot-with-mongodb/springboot-with-couchbase.iml
education/springboot-apps/routing/springboot-with-apache-camel/springboot-with-apache-camel.iml
education/springboot-apps/sql-database/springboot-jpa-with-sqlite/springboot-jpa-with-sqlite.iml
education/springboot-apps/sql-database/springboot-jpa-with-sqlite/spring_boot.db
education/springboot-apps/sql-database/springboot-jpa-with-apache-derby/databasechangelog.csv
education/springboot-apps/sql-database/springboot-jpa-with-apache-derby/derby.log
education/springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.log
education/springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.properties
education/springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.script
education/springboot-apps/sql-database/springboot-jpa-with-h2/spring_boot.mv.db
education/springboot-apps/sql-database/springboot-jpa-with-h2/spring_boot.trace.db

education/springboot-apps/payment-gateways/paytm/paytm.iml
education/springboot-apps/payment-gateways/razorpay/razorpay.iml

stock-market/stock-market.iml
stock-market/stock-market.ipr
stock-market/stock-market.iws
stock-market/sm-sub-systems/sm-sub-systems.ipr
stock-market/sm-sub-systems/sm-sub-systems.iws
stock-market/sm-sub-systems/sm-sub-systems.iml
stock-market/sm-sub-systems/sm-repository-system/sm-repository-system.iml
stock-market/sm-sub-systems/sm-table-generation-system/sm-table-generation-system.iml
stock-market/sm-sub-systems/sm-quartz-scheduler-system/sm-quartz-scheduler-system.iml
stock-market/sm-sub-systems/sm-data-model-system/sm-data-model-system.iml
stock-market/sm-sub-systems/sm-data-parser-system/sm-data-parser-system.iml
stock-market/sm-sub-systems/sm-ai-system/sm-ai-system.iml
stock-market/sm-sub-systems/sm-email-system/sm-email-system.iml
stock-market/sm-sub-systems/sm-technical-analysis-system/sm-technical-analysis-system.iml
stock-market/sm-web-systems/sm-web-systems.iml
utilities/utilities.iml

maven-plugins/quartz-cloudscape-maven-plugin/target/
maven-plugins/quartz-cubrid-maven-plugin/target/
maven-plugins/quartz-db2-maven-plugin/target/
maven-plugins/quartz-derby-maven-plugin/target/
maven-plugins/quartz-firebird-maven-plugin/target/
maven-plugins/quartz-gauss-maven-plugin/target/
maven-plugins/quartz-h2-maven-plugin/target/
maven-plugins/quartz-hsqldb-maven-plugin/target/
maven-plugins/quartz-informix-maven-plugin/target/
maven-plugins/quartz-mysql-maven-plugin/target
maven-plugins/quartz-oracle-maven-plugin/target/
maven-plugins/quartz-pointbase-maven-plugin/target/
maven-plugins/quartz-postgres-maven-plugin/target/
maven-plugins/quartz-sapdb-maven-plugin/target/
maven-plugins/quartz-mssql-maven-plugin/target/
maven-plugins/quartz-solid-maven-plugin/target/
maven-plugins/quartz-sqlite-maven-plugin/target/
maven-plugins/quartz-sybase-maven-plugin/target/

razorpay-payment-gateway-web-integration/.mvn/
razorpay-payment-gateway-web-integration/target/
razorpay-payment-gateway-web-integration/tmp/

utilities/google-zxing-qrcode/target/
utilities/java-email/target
utilities/java-image/target
utilities/krysalis-barcode/target
utilities/pdf-maker/apache-fop-pdf-maker/target
utilities/pdf-maker/itext-pdf-maker/target
utilities/csv-reader/apache-commons-csv-reader/target/

education/springboot-apps/graph-database/springboot-with-neo4j/target
education/springboot-apps/messaging/springboot-with-kafka/target
education/springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-consumer/target
education/springboot-apps/messaging/springboot-with-rabbitmq/rabbitmq-message-producer/target
education/springboot-apps/messaging/springboot-with-activemq/activemq-message-producer/target
education/springboot-apps/messaging/springboot-with-activemq/activemq-message-consumer/target
education/springboot-apps/no-sql-database/springboot-with-cassandra/target
education/springboot-apps/no-sql-database/springboot-with-mongodb/target
education/springboot-apps/no-sql-database/springboot-with-couchbase/target
education/springboot-apps/routing/springboot-with-apache-camel/target
education/springboot-apps/sql-database/springboot-jpa-with-apache-derby/target
education/springboot-apps/sql-database/springboot-jpa-with-apache-derby/spring_boot
education/springboot-apps/sql-database/springboot-jpa-with-db2/target
education/springboot-apps/sql-database/springboot-jpa-with-mssql/target
education/springboot-apps/sql-database/springboot-jpa-with-mysql/target
education/springboot-apps/sql-database/springboot-jpa-with-oracle/target
education/springboot-apps/sql-database/springboot-jpa-with-sqlite/target
education/springboot-apps/sql-database/springboot-jpa-with-sybase/target
education/springboot-apps/sql-database/springboot-jpa-with-postgres/target
education/springboot-apps/sql-database/springboot-jpa-with-hsqldb/target
education/springboot-apps/sql-database/springboot-jpa-with-hsqldb/spring_boot.db.tmp
education/springboot-apps/sql-database/springboot-jpa-with-h2/target
education/springboot-apps/sql-database/springboot-jpa-with-mariadb/target
education/springboot-apps/sql-database/springboot-jpa-with-cubrid/target
education/springboot-apps/payment-gateways/razorpay/target
education/springboot-apps/payment-gateways/paytm/target


stock-market/sm-sub-systems/sm-ai-system/target/
stock-market/sm-sub-systems/sm-repository-system/target/
stock-market/sm-sub-systems/sm-table-generation-system/target/
stock-market/sm-sub-systems/sm-email-system/target/
stock-market/sm-sub-systems/sm-quartz-scheduler-system/target/
stock-market/sm-sub-systems/sm-data-model-system/target/
stock-market/sm-sub-systems/sm-data-parser-system/target/
stock-market/sm-sub-systems/sm-technical-analysis-system/target/


