<div class="left-container">
    <div class="left-container-external-site-link-section">
        <div class="left-container-external-link-div">
            <a href="#" class="left-container-external-link" target="_blank" style="color:#ffffff;">NSE</a>
            <img src="images/icons/external-link-icon.png" class="left-container-external-link-icon">
        </div>
        <div class="left-container-external-link-div">
            <a href="#" class="left-container-external-link" target="_blank" style="color:#ffffff;">Administration Site</a>
            <img src="images/icons/external-link-icon.png" class="left-container-external-link-icon">
        </div>
    </div>
    <div class="container-horizontal-separator"></div>
    <div>
        <div class="left-container-application-link-div">
            <img src="images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/active-100" class="left-container-application-link" th:style="${page.active100LinkStyle}">100 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/active-200" class="left-container-application-link">200 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/active-500" class="left-container-application-link">500 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/price-shockers" class="left-container-application-link">Price Shockers</a>
        </div>
    </div>
</div>