<div class="left-menu">
    <div style="border: 0px solid black;">
        <div style="height: 25px;"></div>
        <div style="height: 35px;">
            <img src="images/icons/play-store-icon.png" class="icon">
            <a href="#" class="left-menu-item-padding">100 Trending Stocks</a>
        </div>
        <div style="height: 35px;">
            <img src="images/icons/play-store-icon.png" class="icon">
            <a href="#" class="left-menu-item-padding">200 Trending Stocks</a>
        </div>
        <div style="height: 35px;">
            <img src="images/icons/play-store-icon.png" class="icon">
            <a href="#" class="left-menu-item-padding">500 Trending Stocks</a>
        </div>
        <div style="height: 35px;">
            <img src="images/icons/play-store-icon.png" class="icon">
            <a href="#" class="left-menu-item-padding">Price Shockers</a>
        </div>
        <div style="height: 25px;"></div>
    </div>
    <div style="height:100px;">
        <div class="left-menu-item-div">
            <div class="left-menu-item-spl-icon-div">
                <img src="images/icons/play-store-icon.png" class="icon left-menu-item-spl-icon-img">
            </div>
            <div class="left-menu-item-text-div">Gold</div>
            <div class="left-menu-item-spl-icon-div">
                <img src="images/icons/gold-icon.png" class="icon left-menu-item-spl-icon-img">
            </div>
        </div>
        <div style="height: 5px;"></div>
        <div class="left-menu-item-div">
            <div class="left-menu-item-spl-icon-div">
                <img src="images/icons/play-store-icon.png" class="icon left-menu-item-spl-icon-img">
            </div>
            <div class="left-menu-item-text-div">Silver</div>
            <div class="left-menu-item-spl-icon-div">
                <img src="images/icons/silver-icon.png" class="icon left-menu-item-spl-icon-img">
            </div>
        </div>
    </div>
</div>