<div class="right-container-div">
    <div class="right-container-header-div">sfsdsdfs</div>
    <div class="right-container-content-holder-div">
        <div class="company-content-container-div">
            <div class="company-content-title-div">
                Tata Motors : A
            </div>
            <div class="company-content-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-green-left">High</td>
                        <td class="td-green-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-green-left">Low</td>
                        <td class="td-green-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-green-left">Last Price</td>
                        <td class="td-green-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-green-left">% Change</td>
                        <td class="td-green-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-green-left">Upper Circuit</td>
                        <td class="td-green-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-green-left">Lower Circuit</td>
                        <td class="td-green-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-green-left">P/E Ratio</td>
                        <td class="td-green-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-green-left">P/B Ratio</td>
                        <td class="td-green-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="company-content-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
</div>