<div class="left-container">
    <div class="left-container-external-site-link-section">
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="http://stock-market:8080/nse" style="color:#ffffff;"
               target="_blank">NSE</a>
            <img class="left-container-external-link-icon" src="/images/icons/external-link-icon.png">
        </div>
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="#" style="color:#ffffff;" target="_blank">Administration
                Site</a>
            <img class="left-container-external-link-icon" src="/images/icons/external-link-icon.png">
        </div>
        <div class="left-container-external-link-div">
            <a class="left-container-external-link" href="https://kite.zerodha.com" style="color:#ffffff;"
               target="_blank">Kite Zerodha</a>
            <img class="left-container-external-link-icon" src="/images/icons/external-link-icon.png">
        </div>
    </div>
    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">
        <a href="/bse/sensex" style="color:white;">SENSEX</a>
    </div>

    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">Traders Lounge</div>
    <div class="container-horizontal-separator"></div>
    <div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/active-100"
               th:style="${page != null} ? ${page.active100LinkStyle} : '' ">100 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/active-200"
               th:style="${page != null} ? ${page.active200LinkStyle} : ''">200 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/active-500"
               th:style="${page != null} ? ${page.active500LinkStyle} : ''">500 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/price-shockers"
               th:style="${page != null} ? ${page.priceShockersLinkStyle} : ''">Price Shockers</a>
        </div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/volume-shockers"
               th:style="${page != null} ? ${page.volumeShockersLinkStyle} : ''">Volume Shockers</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/intraday-large-deals" class="left-container-application-link" th:style="${page.priceShockersLinkStyle}">Intraday Large Deals</a>
        </div>
    </div>
    <div class="container-horizontal-separator"></div>
    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">Investors Lounge</div>
    <div class="container-horizontal-separator"></div>
    <div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/small-cap-gainers"
               th:style="${page != null} ? ${page.smallCapGainerLinkStyle} : ''">Small-Cap Gainer Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/mid-cap-gainers"
               th:style="${page != null} ? ${page.midCapGainerLinkStyle} : ''">Mid-Cap Gainer Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img class="left-container-application-link-icon" src="/images/icons/play-store-icon.png">
            <a class="left-container-application-link" href="/bse/top-dividend"
               th:style="${page != null} ? ${page.topDividendLinkStyle} : ''">Top Dividend Stocks</a>
        </div>
    </div>
</div>