<div class="left-container">
    <div class="left-container-external-site-link-section">
        <div class="left-container-external-link-div">
            <a href="http://stock-market:8080/nse" class="left-container-external-link" target="_blank" style="color:#ffffff;">NSE</a>
            <img src="/images/icons/external-link-icon.png" class="left-container-external-link-icon">
        </div>
        <div class="left-container-external-link-div">
            <a href="#" class="left-container-external-link" target="_blank" style="color:#ffffff;">Administration Site</a>
            <img src="/images/icons/external-link-icon.png" class="left-container-external-link-icon">
        </div>
        <div class="left-container-external-link-div">
            <a href="https://kite.zerodha.com" class="left-container-external-link" target="_blank" style="color:#ffffff;">Kite Zerodha</a>
            <img src="/images/icons/external-link-icon.png" class="left-container-external-link-icon">
        </div>
    </div>
    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">Traders Lounge</div>
    <div class="container-horizontal-separator"></div>
    <div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/active-100" class="left-container-application-link" th:style="${page != null} ? ${page.active100LinkStyle} : '' ">100 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/active-200" class="left-container-application-link" th:style="${page != null} ? ${page.active200LinkStyle} : ''">200 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/active-500" class="left-container-application-link" th:style="${page != null} ? ${page.active500LinkStyle} : ''">500 Active Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/price-shockers" class="left-container-application-link" th:style="${page != null} ? ${page.priceShockersLinkStyle} : ''">Price Shockers</a>
        </div>
    </div>
    <div class="container-horizontal-separator"></div>
    <div class="container-horizontal-separator"></div>
    <div class="left-container-lounge-div">Investors Lounge</div>
    <div class="container-horizontal-separator"></div>
    <div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/small-cap-gainers" class="left-container-application-link" th:style="${page != null} ? ${page.smallCapGainerLinkStyle} : ''">Small-Cap Gainer Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/mid-cap-gainers" class="left-container-application-link" th:style="${page != null} ? ${page.midCapGainerLinkStyle} : ''">Mid-Cap Gainer Stocks</a>
        </div>
        <div class="left-container-application-link-div">
            <img src="/images/icons/play-store-icon.png" class="left-container-application-link-icon">
            <a href="/bse/top-dividend" class="left-container-application-link" th:style="${page != null} ? ${page.topDividendLinkStyle} : ''">Top Dividend Stocks</a>
        </div>
    </div>
</div>