<div class="right-container-stock-group-tip-container">
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="background:#0BDA51" ></div>
        <span>&nbsp;&nbsp;A : Most active stocks in the exchange&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="width:12px;height:12px;border:2px solid #353839;border-radius: 5px; float:left;background:#45bdf7"></div>
        <span>&nbsp;&nbsp;B : Companies which do not fall under(A, S, T, X, Z)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="width:12px;height:12px;border:2px solid #353839;border-radius: 5px; float:left;background:#45bdf7"></div>
        <span>&nbsp;&nbsp;F : Fixed Income Securities -> Debt Market Segment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="background:yellow"></div>
        <span>&nbsp;&nbsp;S : Stocks of small and medium-sized companies&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="background:#aba589"></div>
        <span>&nbsp;&nbsp;T : Subset of securities under trade-to-trade segment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="background:#ff0c07"></div>
        <span>&nbsp;&nbsp;X : Securities sub-segment listed exclusively on BSE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <!--<div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="background:#ff0c07"></div>
        <span>&nbsp;&nbsp;XD : Stocks have low to moderate market cap&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="background:#ff0c07"></div>
        <span>&nbsp;&nbsp;XT : Securities sub-Segment listed on BSE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>-->
    <div class="right-container-stock-group-tip-div">
        <div class="right-container-stock-group-tip-box" style="background:#ff0c07"></div>
        <span>&nbsp;&nbsp;Z : Stocks failed to comply exchange's requirements&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
</div>