<div class="right-container">

    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>









    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>
    <div class="right-container-company-frame-div">
        <div class="right-container-company-div">
            <div class="right-container-company-title-div">
                Tata Motors : A
            </div>
            <div class="right-container-company-table-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="td-left">High</td>
                        <td class="td-right">sfdsfsd</td>
                    </tr>
                    <tr>
                        <td class="td-left">Low</td>
                        <td class="td-right">sdfdsf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Last Price</td>
                        <td class="td-right">fdsfd</td>
                    </tr>
                    <tr>
                        <td class="td-left">% Change</td>
                        <td class="td-right">sdsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Upper Circuit</td>
                        <td class="td-right">sdfsdf</td>
                    </tr>
                    <tr>
                        <td class="td-left">Lower Circuit</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/E Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    <tr>
                        <td class="td-left">P/B Ratio</td>
                        <td class="td-right">sdffs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-container-company-trading-stats-div">
                Trading Statistics
            </div>
        </div>
    </div>



</div>