<html>
<head>
    <title th:replace="~{fragments/common/title}"/>
    <link th:replace="~{fragments/common/css}"/>
    <script th:replace="~{fragments/common/javascript}"/>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/common/header_container}"/>
    <div th:replace="~{fragments/common/container_horizontal_separator}"/>
    <div th:replace="~{fragments/common/left_container}"/>
    <div th:replace="~{fragments/common/container_vertical_separator}"/>
    <div th:replace="~{fragments/page/small_cap_gainers_right_container}"/>
</div>
</body>
</html>