body > div.wrapper > div.content-panel {
    min-height: 563px;
}

body > div.wrapper > div.content-panel > div.login-panel {
	width: 948px;
	height: 563px;
	margin: 0px auto;
	font-family: inherit;
	position: relative;
	border: 0px solid red;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content {
	width: 320px;
	margin-top: 70px;
	margin-left: 244px;
	float: left;
	padding: 10px 55px 40px;
	background-color: rgba(238, 243, 237, 0.6);
	border: 4px solid #b7f5a4;
	box-shadow: 0 0 10px;
	border-radius: 10px;
	font-size: 13px;
	height: 370px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > div.link-section {
	width: 388px;
    height: 24px;
    border: 0px solid red;
    margin-left: -35px;
    margin-top: 70px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > div.error-message-box {
	width: 384px;
    height: 24px;
    border: 2px solid red;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 3px;
    margin-left: -41px;
    border-left: 10px solid red;
    display: none;
    margin-top: -367px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content >  div.error-message-box > div.error-message {
	width: 353px;
    height: 22px;
    border: 0px solid red;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 0px;
    padding: 1px;
    text-indent: 15px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > div.error-message-box > img.close {
	width: 18px;
    height: 19px;
    border: 2px solid #6c6c6c;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: -357px;
    box-shadow: 0 0 5px #000000;
    margin-left: 361px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > div.login-content-heading {
	border: 4px solid #b7f5a4;
    width: 237px;
    height: 24px;
    border-radius: 5px;
    margin-top: -29px;
    background-color: #ffffff;
    margin-left: -33px;
    text-align: left;
    font-size: 16px;
    text-indent: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > div.link-section > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #252323;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > div.link-section > a:hover {
	text-decoration: underline;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > form {
	margin-top: 60px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > form > label {
	margin-left: 13px;
    font-size: 16px;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > form > input.mandatory{
	border-right: 4px solid red;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > form > input[type=text]{
	width: 300px;
	padding-left: 5px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #6c6c6c;
	color: #3e3c3c;
	font-size: 16px;
	font-family: inherit;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > form > input[type=password]{
	width: 300px;
	padding-left: 5px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 8px;
	box-shadow: 0 0 5px #6c6c6c;
	border-radius: 5px;
	color: #3e3c3c;
	font-size: 16px;
	font-family: inherit;
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > form > button[type=submit] {
	width: 212px;
    height: 40px;
    border: 4px solid #6c6c6c;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 52px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    background: linear-gradient(#7e7f80 5%, #ffffff 100%);
}

body > div.wrapper > div.content-panel > div.login-panel > div.login-content > form > button[type=submit]:hover {
	background: linear-gradient(#ffffff 5%, #7e7f80 100%);
}

