body > div.wrapper > div.sitemap {
    background-color: #6c6c6c;
    color:white;
    height:105px;
    width:100%;
}

body > div.wrapper > div.sitemap > ul {
    border : 0px solid green;
    height:100px;
    width:125px;
    float:left;
}

body > div.wrapper > div.sitemap > ul > li {
    color:white;
    font-size: 14px;
    font-weight: bold;
}

body > div.wrapper > div.sitemap > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

body > div.wrapper > div.sitemap > ul > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

body > div.wrapper > div.sitemap > ul > li > a:hover{
    text-decoration: underline;
}

body > div.wrapper > div.sitemap > ul > ul > li > a:hover{
    text-decoration: underline;
}